.container{
    border: 6px solid black;
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 1fr);
    /* justify-items: start;
    align-items: start; */
    /* justify-items: end;
    align-items: end; */
    /* justify-items: center;
    align-items: center; */
    /* justify-items: baseline;
    align-items: baseline; */
    justify-items: center;
    align-items: end;
}

.items{
    background-color: lightcoral;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.items:nth-child(1){
    /* justify-self: center; */
    justify-self: start;
    align-self: stretch;
}